{% extends "base_dashboard.html" %}
{% load static %}
{% block title %}
	Dashboard
{% endblock %}

{% block content %}

	{% if messages %}

		<!--Panel-->
		<div class="card border-success mb-3">
		    <div class="card-header text-danger">
		        <p class="card-title">{{ messages }}</p>
		    </div>
		</div>
		<!--/.Panel-->

	{% endif %}
	{% block graph %}
        <div style="height:70%;width:70%;margin:auto" id="bar_chart">
            {{ bar_chart.as_html }}
        </div>

        <div style="height:70%;width:70%;margin:auto;display:none" id="polar_chart">
            {{ polar_chart.as_html }}
        </div>

        <div style="height:60%;width:50%;margin:auto;display:none" id="pie_chart">
            {{ pie_chart.as_html }}
        </div>
	{% endblock %}

            {% block prediction %}
            {% if ans %}

                <h1> The predicted type of Garbage is <strong> {{ ans }} </strong> </h1>
                {% if ans == 'plastic' %}
                    <a class="btn" href="{% url 'users:plastic_processing' %}">click for further plastic processing</a>
                {% endif %}
            {% endif %}

            {% endblock prediction%}

    {% block plasticVerification%}
        {% comment %} {{ ans }} {% endcomment %}
        {% comment %} <img src="{% static '{{ans}}' %}" alt="something" > {% endcomment %}
        {% if result %}
            {% if result < 50 %}
                <h1>Our Predicition is that it not plastic.( {{ result }})</h1>
            {% else %}
                <h1> Our Prediction is that it is plastic We are <strong>{{ result }}%<h1> sure about this.</h1>
            {% endif %}
        {% endif %}
    {% endblock plasticVerification %}

{% endblock content %}
