{% extends "base.html" %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}

	{% if messages %}

		<!--Panel-->
		<div class="card border-success mb-3">
		    <div class="card-header text-danger">
		        <p class="card-title">{{ messages }}</p>
		    </div>
		</div>
		<!--/.Panel-->

	{% endif %}

	<h1 class="mt-5 text-center">Welcome {{ request.user }}</h1>
	<div class="container">
		  <form method="post" class="text-center border border-secondary p-5">
				{% csrf_token %}                <p>
                    <p>
                        <p><input id="test_input" name="test" placeholder="test_input" type="text" class="form-control"></p>
                    </p>
                    <p>
                        <p><input id="test_input_2" name="test" 
                        placeholder="test" type="text" class="form-control"></p>
                    </p>
                </p>
                {% if form.errors %}
                    <p class="text-danger">
                        something Went Wrong 
                    </p>
                {% endif %}

                <!-- Sign in button -->
                <button class="btn btn-secondary btn-block my-4" type="submit">Update</button>                
                
            </form> 
	</div>

{% endblock content %}
